services:
  - type: web
    name: cohort-backend
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn config.asgi:application --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: CORS_ALLOWED_ORIGINS
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET_KEY
        generateValue: true
    healthCheckPath: /admin/login/

